<tr>
    <td>1</td>
    <td>Username</td>
    <td>example@gmail.com</td>
    <td>Male</td>
    <td>Active</td>
    <td>
        <a href="update_user" class="btn border-shadow update">
            <span class="text-gradient"><i class="fa fa-pencil" aria-hidden="true"></i></span>
        </a> <a class="btn border-shadow delete">
            <span class="text-gradient"><i class="fa fa-times" aria-hidden="true"></i></span>
        </a>
    </td>
</tr>